<!-- your html code here -->
<div class="row align-items-center">
    <div class="col-md-8">
        <h2>This First Heading Will Catch Your Eye</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit feugiat risus in tempor. Ut nec est
            sapien. Pellentesque ut risus luctus, semper arcu vel, fermentum diam. Proin convallis nulla ipsum, vitae
            mattis felis condimentum vitae. Aliquam vulputate non metus sit amet finibus. Vestibulum porta eleifend
            mauris.</p>
    </div>
    <div class="col-md-4">
        <img src="https://picsum.photos/300/300" class="img-fluid rounded-circle" alt="profile">
    </div>
</div>