<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="position-relative w-100">
    <img src="https://png.pngtree.com/background/20230417/original/pngtree-city-skyline-minimalist-illustration-picture-image_2444707.jpg"
        class="img-fluid w-100" alt="...">
    <div class="position-absolute top-50 start-50 translate-middle-x w-100 bg-white bg-opacity-75 text-center py-4">
        <h1>START BOOTSTRAP & GIT</h1>
    </div>
</div>