<!-- your html code here -->
<div class="container py-4">
    <div class="row align-items-start">
        <div class="col-md-4 text-center">
            <img src="assets/img/2.jpg" class="img-fluid rounded-circle" alt="2.jpg">
        </div>
        <div class="col-md-8 text-start">
            <h2 class="display-6 fw-bold mb-1">The Second Heading<span class="text-secondary">Is Pretty Cool Too.</span>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit feugiat risus in tempor. Ut nec
                est
                sapien. Pellentesque ut risus luctus, semper arcu vel, fermentum diam. Proin convallis nulla ipsum,
                vitae
                mattis felis condimentum vitae. Aliquam vulputate non metus sit amet finibus. Vestibulum porta eleifend
                mauris.</p>
        </div>
    </div>
</div>